
/* ==================================
	From ASTM
=======================================*/

.alert { 
	border: solid #ff0000 1px !important;
}









/* ==================================
	Sponser ad :: Profile image
=======================================*/
	.sponser{
		background:#fff; display:inline-block;
		width:100%; height:150px; overflow:hidden;
		position: relative;
		}
	.sponser a .img{width:100%; height:100%}
	.sponser a .text{
		background-color:rgba(0,0,0,0.5); 
		color:#fff; 
		text-align:center; margin: 0; padding:5px;
		position:absolute; bottom:0; width:100%;
		}
	



/* ==================================
	Succeeded Stroy counter
=======================================*/
	.succeeded,
	.question{
	  font-weight: normal;
	  border-top: 1px solid;
	  border-bottom: 1px solid;
	  border-color: greenyellow;
	  padding: 8px;
	  margin: 5px 0 15px;
	  color: #aaa;
	  }
	  #counter{margin-right:5px;}

	.question{border-color:#fff;}



/* ====================================================
	ViewList :: Homepage :: panelsPages :: charity;
=========================================================*/

	.home-list, 
	.home-list li{list-style: none; margin:0 !important; padding:0 !important;}
	.home-list li{position:relative; height: 120px; margin-bottom:1.5em !important;}

	.home-list li:after{}

	/* last-child	*/
	.home-list li:last-child{margin-bottom:0!important;}
	.home-list li:last-child:after{display:none;}



	/*info area */
	.case-info{position: absolute; top: 0px; left:8.3em; right:0; height:100%;}
	.case-link{display:block; height:100%}
	.case-info > .share-btn{position: absolute; bottom: 0px; margin: 0px; }
	.date-city {border-bottom:1px solid #ccc; padding-bottom:0.2em; color:#999;font-weight:normal; }
	.case-city{}
	
	.case-date{
		font-weight: normal;
		position: absolute;
		bottom: 2em;
		right: 0;
		left: 0;
	}

	


	.details {
	  margin: 0 0 0.5em;
	  height: 48%;
	  font-size: 100%;
	  overflow: hidden;
	  font-weight: normal;
	  line-height: 1.2;
	  font-size: 16px;
	}
	.case-link:hover .details {opacity:0.8;}

	.my-intiatives .details{height: 50%;}
	.my-intiatives .case-status{padding: 0.4em; left: 0; right: 0;color:#fff;}

	/*image area */
	.case-thumb{
		position: absolute; top: 0px; left: 0px;	
		width:7.5em;	height:7.5em;
		background-size: cover; 
		background-position:50%;
		background-repeat:no-repeat; 
	  	box-sizing: border-box;
	  	border: 6px solid;
	}
	.case-thumb > .case-icon{
		width:50px; height:50px;
		margin:0; border:none; 
		position:absolute; top:-5px; left:-5px;	
	}

	.case-thumb, .case-icon {background-color:#ccc; border-color:#ccc;  }

	.case-icon .fa {
	  top: 0.9em;  left: 0.8em; position: relative;
	  font-size: 1.2em; color: #fff;
	}



	/* types - icons and border colors*/
	.ui-btn.share-btn {background-color:#ddd; border-color:#b8e375;}

	.type1 .case-thumb, 
	.type1 .case-icon,
	.type1 .share-btn {background-color:#b2d2df; border-color:#b2d2df;}

	.type2 .case-thumb, 
	.type2 .case-icon,
	.type2 .share-btn {background-color:#debedb; border-color:#debedb;}


	.type3 .case-thumb, 
	.type3 .case-icon,
	.type3 .share-btn {background-color:#d3deb3; border-color:#d3deb3;}



	/* panels pages */
	.panels{}
	.panels li{height:5em; margin-bottom:1em !important;}
	.panels li:after{background:#fff;  bottom:-1em;}
	.panels .case-thumb{width:5em;	height:5em; border:none; /*border: 3px solid #ddd;*/}
	.panels .case-info{left:6em;}
	.panels .case-info .case-name{margin:0.2em 0;}

	.panels-btns{
		background:#fff; margin-top: -1.02em;
		padding-bottom:0.5em; width: 100%;
		position:fixed; z-index:888;}
	.panels-btns .desc{font-size:0.8em;}



	ul.hasCounter li{ position:relative;}
	ul.hasCounter li > .ui-input-text input{
	  position: absolute; top: 0.3em; right: 0.3em; width: 80px;
	  background: #fff;  z-index: 111; text-align: center }




/* ===========================================================
	Profiles --- > ListViews :: UserProfile :: charityProfiles 
============================================================================*/
	
	.edit-this{
		/*background: cyan !important;*/
		  position: absolute !important;
		  right: 1em; top: 1.5em;
		  margin: 0 !important; padding: 0 !important;
		  z-index: 333;  cursor: pointer;
		  border: none !important;
		  width: 2em !important;
		  height: 2em !important;
		  text-align: center !important;
		  line-height: 2em;
		  color:#bf6565 !important; 
		  font-size: 16px;
	}

	.edit-this:after{display:none!important;}

	.edit-this.name{right: 1.2em; top: 1em;}
	.edit-this.phone{right: 0.3em;}



	.profile-img{margin-top: -1em; min-height: 180px;}
	.profile-img.showcase{min-height: 250px;}

	.profile-img .case-status{
		position: absolute; right: 1em; top: 0;
		left: auto;  margin: 0em;  padding:1em 0.5em 0; font-size: 0.8em;}
	.profile-img .case-status,
	.profile-img .case-status:hover{background:transparent; border:none;text-shadow: none;}

	.profile-img .case-status.responded i:before{color:#fff; content: "\f00c";}
	.profile-img .case-status.pendding i:before{color:#fff; content: "\f017";}

	.profile-name {
		position: absolute;	bottom: 0;	margin: 0; right: 0; left: 0; padding: 0.5em 1em;	
		background: rgba(245, 245, 220, 0.83); color: #666;
		text-shadow: none !important;
		font-weight: normal;
	  }
	.profile-date{font-size:0.75em; font-weight: normal;}
	.profile-phone{position:relative;}

	/* list */
	ul.profile-deatils{	margin:0 !important; padding:auto 1em;}
	ul.profile-deatils li{position:relative; padding:1.5em 4em !important;background:transparent !important;}
	ul.profile-deatils li .fa.icon{position:absolute;left: 0.25em; width: 35px; text-align: center; color:#b8e375;}

	ul.profile-deatils.showcase li{padding:0.7em 1em !important;}

	ul.profile-deatils li:first-child{border-top:none;}
	ul.profile-deatils li:last-child{border-bottom:none;}
	ul.profile-deatils.charity li:last-child{border-bottom:solid #ccc;}

	ul.profile-deatils > li p {white-space:normal !important;}
	


	/* left icons */
	ul.profile-deatils .ui-btn-icon-left:after { left:1.15em; }
	ul.profile-deatils .ui-li-count{right:0.5em}

	/* extra */
	.give-appr{margin:auto 5em; border-radius:1.5em !important;} 

	/*      */
	.color{
		position: absolute; left:4.5em; right:1em ;top: 50%;
	  	height: 1.8em; margin-top: -0.9em; }



	/*    */

	ul.need-Contact{margin:0!important;}
	ul.need-Contact li{background-color:transparent !important; padding:0.7em 0 !important;  }
	ul.need-Contact li:first-child{border-top:none;}
	ul.need-Contact li:last-child{border-bottom:none;}






/* =======================================
	home
=============================================*/

.header-search{padding: 0 1em; 	background:#cbf18f;}
.header-search .ui-body-inherit{ background:transparent !important; border:none !important;}
.header-search .ui-input-search { margin:0; border:none;}











/*	MyriadProReg :: MyriadProSemi  :: arabic >> MyriadArReg  */


/* =======================================
	Pre-sets 
=============================================*/
.float-right{float:right;}
.float-left{float:left;}

.margin-zero{margin:0 !important}
.padding-zero{padding:0 !important}

.text-right{text-align:right !important;}
.text-left{text-align:left !important;}
.text-center{text-align:center; !important;}

.no-bg{background:transparent !important;}
.no-border{border:none !important;}

.fullwide{ margin:auto -1em;}      
.fullscreen{margin:-1em;}
.full-width{width:100% !important;}

.margin-wide{margin:1em;}
.padding-wide{padding: 1em;}

.hidden{display:none !important;}

.footer-next-step{margin:0; width:100%;}


.alert {padding:1em; border:1px solid #ccc; background:#f7f7f7; font-style:italic; margin:0.5em auto; }
.alert-warning {border-color:orange;}
.alert-info {border-color:blue;}
.note{}


.responded{background-color:rgba(157, 194, 100, 0.8)!important;}
.pendding{background-color:rgba(236, 134, 19,0.8)!important;}

.ui-btn.responded,.ui-btn.pendding{color:#fff !important; border:none;}
.ui-btn.responded:hover,
.ui-btn.pendding:hover{background-color:rgba(0,0,0, 0.7)!important;}






/* flating
---------------------*/

.flat-border,
input[type="text"],
input[type="password"]{
	-webkit-border-radius:0 !important;
			border-radius:0 !important; 
}


/* Titles  
-----------------------*/
.afm-title{
	text-align: left !important;
	margin: 0px 0.5em !important;
	font-family:"MyriadProSemi";
	font-size: 1.6em !important;
	padding:0.4em 0 0.4em 0;
	overflow: hidden;
}

.ui-header, .ui-footer { overflow: hidden; }


.inner-title-padding{padding: 0.4em 0 0.4em 1.5em !important}



/* BG cover photos  */
.bg-cover{
	  background-size: cover;
	  background-position: 50%;
	  background-repeat: no-repeat;
	  box-sizing: border-box;
	  display: block;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
}



/* =======================================
	Reset - defult elements values
=============================================*/

a{text-decoration:none;} 
h3,h4,h5,h6{font-weight:normal;}
hr{	border: 0.1em dotted #B8E375; 	border-bottom: none; height: 0px; }

.ui-btn .fa{margin:0 0.3em; font-size:20px; line-height: 0.5; }
.ui-footer .ui-btn .fa{font-size:25px; line-height:1;}

.ar{font-family:"MyriadArReg" !important;}


select{
	width: 100%;
  	padding: 0.3em;
  	border: none;
  	font-family: inherit;
}




/* =======================================
	override - jQuery-mobile classes
=============================================*/

body,
.ui-overlay-a, 
.ui-page-theme-a, 
.ui-page-theme-a .ui-panel-wrapper {
	text-shadow:none !important;
	background-color:#fff !important; 
	font-family: "MyriadProReg" ;	
}



.ui-listview > .ui-li-divider{background-color: transparent; }
.ui-collapsible-set{margin: -1em -1.1em 1em;}
.ui-btn, label.ui-btn { font-weight:normal; font-family:"MyriadProSemi"}



/*------------*/


.ui-bar-a, 
.ui-page-theme-a .ui-bar-inherit, 
html .ui-bar-a .ui-bar-inherit, 
html .ui-body-a .ui-bar-inherit, 
html body .ui-group-theme-a .ui-bar-inherit {
  background-color: #b8e375;
  border: none ;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);	
  font-weight: bold;
}



/*-------------------*/



.ui-navbar a{
	background-color: #b8e375 !important;
  	border:none !important;
  	color: #fff !important;
  	text-shadow: none !important;
}

.ui-navbar a:hover,.ui-navbar a.active{color:#c75f4b !important; background-color:#cbf18f !important;}
.ui-navbar a:active{color:#fff !important; background-color:#c75f4b !important;}





/* header links */

.ui-header .ui-btn-right .ui-link,
.ui-header .ui-btn-left  .ui-link{
  width: 25px;
  display: inline-block;
  text-align: right;
  line-height: 25px;
  color:#fff !important;
}
.ui-header .ui-btn-left  .ui-link{text-align: left;}

.ui-header .ui-btn-right,
.ui-header-fixed.ui-fixed-hidden .ui-btn-right{
  margin-right: 1em;
  margin-top: 0.8em;
  }

.ui-header .ui-btn-left,
.ui-header-fixed.ui-fixed-hidden .ui-btn-left{
  margin-left: 1em;
  margin-top: 0.8em;
  }


.inner.ui-header .ui-btn-left,
.inner.ui-header .ui-btn-right{margin:1em;}


.ui-body-a, 
.ui-page-theme-a .ui-body-inherit, 
html .ui-bar-a .ui-body-inherit, 
html .ui-body-a .ui-body-inherit, 
html body .ui-group-theme-a .ui-body-inherit, 
html .ui-panel-page-container-a {  
  border-color: #CCE89F;
  color: inherit;
  text-shadow: none;
  border-style: dotted;
}

.ui-btn{text-shadow:none !important;}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after, 
.ui-btn-icon-top:after, 
.ui-btn-icon-bottom:after, 
.ui-btn-icon-notext:after {
  background-color:transparent;
}


.ui-btn.share-btn{ 
  padding: 0.3em 0;
  font-weight: normal;
  font-family: inherit;
  color: #fff;
  border: none;
}


/*links*/
.ui-page-theme-a a:visited, 
html .ui-bar-a a:visited, 
html .ui-body-a a:visited, 
html body .ui-group-theme-a a:visited {
  color:inherit;
}

.ui-page-theme-a a, 
html .ui-bar-a a, 
html .ui-body-a a, 
html body .ui-group-theme-a a {
  color: #6E834C;
  font-weight: normal;
}

.ui-page-theme-a a:hover, 
html .ui-bar-a a:hover, 
html .ui-body-a a:hover, 
html body .ui-group-theme-a a:hover {
  color: #c75f4b;
}


/* panel links */

.ui-page-theme-b a, 
html .ui-bar-b a, 
html .ui-body-b a, 
html body .ui-group-theme-b a {
  color: #22aadd;
  font-weight: normal;  
}

.ui-panel-inner .fa{color:#b8e375;}

.ui-panel-position-right .ui-panel-inner{margin-left: 0.5em;}
.ui-panel-inner a{padding-left:1em; font-family:inherit;}
.ui-panel-inner .fa{margin-right: 0.5em;}





/*theme b */

.ui-body-b, 
.ui-page-theme-b .ui-body-inherit, 
html .ui-bar-b .ui-body-inherit, 
html .ui-body-b .ui-body-inherit, 
html body .ui-group-theme-b .ui-body-inherit, 
html .ui-panel-page-container-b {
  background-color: #d67171;
  border-color: #bf6565;
  color: #fff;
  text-shadow: 0 1px 0 #111;
}


/*theme b btns */

.ui-page-theme-b .ui-btn, 
html .ui-bar-b .ui-btn, 
html .ui-body-b .ui-btn, 
html body .ui-group-theme-b .ui-btn, 
html head + body .ui-btn.ui-btn-b, 
.ui-page-theme-b .ui-btn:visited, 
html .ui-bar-b .ui-btn:visited, 
html .ui-body-b .ui-btn:visited, 
html body .ui-group-theme-b .ui-btn:visited, 
html head + body .ui-btn.ui-btn-b:visited {

  background-color: #d67171;
  border-color: #bf6565 ;
  color: #fff ;
  text-shadow:none;
}

.ui-page-theme-b .ui-btn:hover, 
html .ui-bar-b .ui-btn:hover, 
html .ui-body-b .ui-btn:hover, 
html body .ui-group-theme-b .ui-btn:hover, 
html head + body .ui-btn.ui-btn-b:hover {
  background-color: #bf6565;
  border-color: #d67171 ;
  color: #fff ;
  text-shadow:none;
}


.ui-page-theme-b .ui-btn:active, 
html .ui-bar-b .ui-btn:active, 
html .ui-body-b .ui-btn:active, 
html body .ui-group-theme-b .ui-btn:active, 
html head + body .ui-btn.ui-btn-b:active {
  background-color: #444;
  border-color: #444 ;
  color: #fff ;
  text-shadow:none;
}



.ui-page-theme-b .ui-btn:focus, 
html .ui-bar-b .ui-btn:focus, 
html .ui-body-b .ui-btn:focus, 
html body .ui-group-theme-b .ui-btn:focus, 
html head + body .ui-btn.ui-btn-b:focus, 
.ui-page-theme-b .ui-focus, 
html .ui-bar-b .ui-focus, 
html .ui-body-b .ui-focus, 
html body .ui-group-theme-b .ui-focus, 
html head + body .ui-btn-b.ui-focus, 
html head + body .ui-body-b.ui-focus {
	background-color: #444;
  -webkit-box-shadow: transparent;
  -moz-box-shadow: transparent;
  box-shadow:none;
}



/*active btns*/

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
  background-color: #B8E375;
  border-color: #AAD26C;
  
}

/*radio chechbox horiz, group*/

.col3 .ui-controlgroup-controls,
.col2 .ui-controlgroup-controls{width:100% !important;}

.col3 .ui-controlgroup-controls > .ui-btn, 
.col3 .ui-controlgroup-controls li > .ui-btn, 
.col3 .ui-controlgroup-controls .ui-checkbox, 
.col3 .ui-controlgroup-controls .ui-radio, 
.col3 .ui-controlgroup-controls .ui-select{width:33.333% !important;}


.col2 .ui-controlgroup-controls > .ui-btn, 
.col2 .ui-controlgroup-controls li > .ui-btn, 
.col2 .ui-controlgroup-controls .ui-checkbox, 
.col2 .ui-controlgroup-controls .ui-radio, 
.col2 .ui-controlgroup-controls .ui-select{width:49.95% !important;}

.ui-checkbox .ui-btn, .ui-radio .ui-btn {  text-align: center; }
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn { border-right-width:1px; }
