




/* ==================================
	Arabic layout 
=======================================*/

.ar{font-family:"MyriadArReg" !important;}


body,
.ui-overlay-a, 
.ui-page-theme-a, 
.ui-page-theme-a .ui-panel-wrapper {
	font-family: "MyriadArReg" ;	
}



.ui-listview > .ui-li-divider{background-color: transparent; }
.ui-collapsible-set{margin: -1em -1.1em 1em;}
.ui-btn, label.ui-btn { font-weight:normal; font-family:"MyriadArReg";}




/* Titles  
-----------------------*/
.afm-title{
	text-align: right !important;
	margin: 0px 0.5em !important;
	font-family:"MyriadArReg";	
}
.app-title{	font-size: 2em !important; line-height:0.9;}


/* Header icons
-------------------------*/
.ui-header .ui-btn-right, .ui-header-fixed.ui-fixed-hidden .ui-btn-right {
  margin-right: auto;
  margin-top: 0.8em;
  margin-left: 1em;
}
.ui-btn-right { right: auto; left: 0.4em; }
.ui-header .ui-btn-right .ui-link, .ui-header .ui-btn-left .ui-link { text-align: left !important; float: right; }


/*panel*/

.ui-panel-position-right.ui-panel-display-reveal {
  -webkit-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
  -moz-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
  box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
}

.ui-content .ui-listview, 
.ui-panel-inner > .ui-listview {
  margin-right: 0 !important;
}

.ui-panel-inner .fa { margin-left: 0.5em; float: right; margin-right: 0; }

.ui-listview > .ui-li-static, 
.ui-listview > .ui-li-divider, 
.ui-listview > li > a.ui-btn { text-align: right; font-size:20px; line-height:18px; }



/* list view */
.case-thumb{left:auto;right:0;}
.case-info { left:0; right: 8.3em; text-align:right;}

.details { margin: 0 0 0.5em; height: 52%;  font-size: 20px;  line-height: 1;  overflow: hidden;  font-weight: normal;}
.case-date {  text-align: left;  font-size: 16px;}


.ui-btn { font-size: 18px;}

















