
	<div data-role="navbar">
	    <ul>
	        <li><a href="newcase.html" 	data-active="newcase">	<i class="fa fa-plus"></i> <!-- Create story --> </a></li>
	        <li><a href="myintia.html" 	data-active="my-cases">	<i class="fa fa-bolt"></i> <!-- My Stories --> </a></li>
	        <li><a href="honor.html" 	data-active="honor">	<i class="fa fa-trophy"></i> <!-- Honer list --> </a></li>
	    </ul>
	</div>

<script>

	$( document ).ready(function() {
	  // $(this).trigger("create");

	    // current page ID
        var currentID = $( ".ui-page-active" ).attr('id');

        // Remove active class from nav buttons
        $( "[data-role='navbar'] a.active" ).removeClass( "active" );

        // Add active class to current nav button
        $( "[data-role='navbar'] a" ).each(function() {
          var currentHref = $(this).jqmData( "active" );

          if ( currentHref === currentID ) {
            $( this ).addClass( "active" );
          }
        });

	});

</script>


