

<h1 class="afm-title">Tkatof</h1>

 <!-- back Button -->
  <div data-role="controlgroup" data-type="horizontal" class="ui-btn-left">            
    <a href="#" data-rel="back" data-transition="flow" id="back-btn"><i class="fa fa-chevron-left fa-lg"></i></a>
  </div>

<!-- top nav icons -->
<div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">

  <!-- filter --> 
  <a href="#filters" id="filter-eye" data-rel="popup" data-transition="fade" data-position-to="window" style="margin:0 1em;" >
    <i class="fa fa-eye fa-2x"></i> 
  </a> 

   
  <!-- Inbox -->
  <a href="inbox.html">
    <i class="fa fa-comments fa-2x"></i> 
  </a> 

  <!-- Panle -->
  <a href="#options" id="opt-btn" >
    <i class="fa fa-ellipsis-v fa-2x"></i>
  </a>

</div>

<!-- navbar -->
<div data-role="navbar" style="box-shadow:0 -0.01em 0.8em rgba(0,0,0,0.1);">
  <ul>
    <li><a href="#exist" data-active="exist" data-transition="fade" class="active"> Exist </a></li>
    <li><a href="#wanted" data-active="wanted" data-transition="fade"> Wanted</a></li>
  </ul>
</div>

<div class="header-search" id="search-posts">
  <input data-type="search" id="filter-content">
</div>



<script>

      // Update the contents of the toolbars
      $( document ).ready(function() {

        // Change the heading
        var current = $( ".ui-page-active" ).jqmData( "title" );
        $( "[data-role='header'] h1" ).text( current );



        var ishome = $( ".ui-page-active" ).hasClass("home");
        if (ishome == true) {
            // give css to some component
            $("[data-role='header']").removeClass('inner');
            $("[data-role='header'] h1").removeClass('inner-title-padding');

            $("[data-role='header'] [data-role='navbar']").show();
            $("[data-role='header'] #search-posts").show();
            $("[data-role='header'] #filter-eye").show();
            $("[data-role='header'] #back-btn").hide();

        } 
        else{
            // remove css from some component
            $("[data-role='header']").addClass('inner');
            $("[data-role='header'] h1").addClass('inner-title-padding');

            $("[data-role='header'] [data-role='navbar']").hide();
            $("[data-role='header'] #search-posts").hide();
            $("[data-role='header'] #filter-eye").hide();
            $("[data-role='header'] #back-btn").show();
        };


        // current page ID
        var currentID = $( ".ui-page-active" ).attr('id');

        // Remove active class from nav buttons
        $( "[data-role='navbar'] a.active" ).removeClass( "active" );

        // Add active class to current nav button
        $( "[data-role='navbar'] a" ).each(function() {
          var currentHref = $(this).jqmData( "active" );

          if ( currentHref === currentID ) {
            $( this ).addClass( "active" );
          }
        });

        // this for extra refresh home header 
        // please don't remove
        $(this).trigger("create");

      });
</script>

