 <div id="options" data-position-fixed="true" data-position="right" data-theme="b" 
      data-display="reveal" data-role="panel" > 

    <div class="ui-panel-inner">
        <ul data-role="listview" class="ui-listview">
            <li> <a data-rel="close" class="ui-btn"><i class="fa fa-close"></i> Close </a></li>
            <li id="homePanleBtn">
              <a href="index.html" class="ui-btn"><i class="fa fa-home"></i> Home </a>
            </li>
            <li> <a href="inbox.html" class="ui-btn"><i class="fa fa-comments"></i> Inbox </a></li>         
            <li> <a href="profile.html" class="ui-btn"><i class="fa fa-user"></i> Profile </a></li>
            <li> <a href="settings.html" class="ui-btn"><i class="fa fa-eye"></i> Language </a></li>
            <li> <a href="help.html" class="ui-btn"><i class="fa fa-question-circle"></i> Help </a></li>
            <li> <a href="about.html" class="ui-btn"><i class="fa fa-info-circle"></i> About </a></li>
            <li> <a id="exit-btn" class="ui-btn"><i class="fa fa-sign-out"></i> logout </a></li>
        </ul>
    </div>
  
</div>  

<script>

  // Update the contents of the toolbars
  $( document ).ready(function() {

    var ishome = $( ".ui-page-active" ).hasClass("home");
    if (ishome == true) {
        // give css to some component 
        $("li#homePanleBtn").hide();

    } 
    else{
        // remove css from some component
         $("li#homePanleBtn").show();

    };


    // $(this).trigger("create");

  });
</script>