<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<script>

  // define my login data
  var form = new FormData();
  form.append("email", "demo4@takatuf.tk");
  form.append("password", "demopass4");

  // var fields_data={password:"demopass4",email:"demo4@takatuf.tk"};

  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "http://www.takatuf.tk/api/public/accounts/login.json",
    "method": "POST",
    "headers": {},
    "processData": false,
    "contentType": false,
    "mimeType": "multipart/form-data",
    "data": form
  }


  $.ajax(settings).complete(function (response) {

    response=JSON.parse(response.responseText);
    
    if (response.code ==302){
      // get the user ID
      var userID=response.data.userID;
      // get the user name
      var userName=response.data.userName;
      // strore the data in the local storage
      //
      // redirect to home
      // document.location.href = 'home.html';
    }else{
      // define the notification message
      var alertMessage=response.data.message;
    }

  });

</script>