// tempo



<h1 class="afm-title app-title ui-title" role="heading" aria-level="1">Tkatof</h1>

<!-- top nav icons -->
<div data-role="controlgroup" data-type="horizontal" class="ui-btn-right ui-controlgroup ui-controlgroup-horizontal ui-corner-all"><div class="ui-controlgroup-controls ">
    
    <!-- filter result --> 
    <a id="filter-btn" style="margin:0 1em;" href="#filters" data-rel="popup" data-transition="fade" data-position-to="window" aria-haspopup="true" aria-owns="filters" aria-expanded="false" class="ui-link">
        <i class="fa fa-eye fa-2x"></i> 
    </a> 
    
    <!-- prefitch.html -->
    <!-- inbox -->
    <!-- data-ajax="false" --> 
    <a id="inbox-btn" href="prefitch.html" class="ui-link">
        <i class="fa fa-comments fa-2x"></i> 
    </a> 
    
    <!--  options panle -->
    <a id="opt-btn" href="#options" class="ui-link">
        <i class="fa fa-ellipsis-v fa-2x"></i>
    </a>

</div></div>
<!-- navbar -->
<div data-role="navbar" style="box-shadow: 0 -0.01em 0.8em rgba(0,0,0,0.1);" class="ui-navbar" role="navigation">
    <ul class="ui-grid-a">
        <li class="ui-block-a"><a href="#founded" data-transition="fade" class="active ui-link ui-btn">Exist</a></li>
        <li class="ui-block-b"><a href="#charity" data-transition="fade" class="ui-link ui-btn">Wanted</a></li>
    </ul>
</div>
<div class="header-search">
    <div class="ui-input-search ui-body-inherit ui-corner-all ui-shadow-inset ui-input-has-clear"><input data-type="search" id="filter-content"><a href="#" tabindex="-1" aria-hidden="true" class="ui-input-clear ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all ui-input-clear-hidden" title="Clear text">Clear text</a></div>
</div>





// 





  <!-- filter "Popup" -->
  <div id="filters" data-role="popup"  data-theme="a" data-overlay-theme="b" class="ui-content flat-border"style="width: 250px;">
      
      <h4> Filter Result </h4>

      <form>
        <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
          <label for="" class="ui-hidden-accessible">Nearby</label>
          <select id="" name=""> 
              <!--  data-shadow="false" -->
              <option selected="selected">Current City</option>
              <option value="Riyadh">KSA-Riyadh</option>
              <option value="Dammam">KSA-Dammam</option>
              <option value="Dammam">KSA-Jeda</option>
              <option value="Cairo">EGY-Cairo</option>
              <option value="Alex">EGY-Alex</option>
              <option value="Giza">EGY-Giza</option>
          </select> 
        </div>  
        <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
          <label for="" class="ui-hidden-accessible">Categories</label>
          <select id="" name="">
              <option selected="selected">All Categories</option>
              <option value="cars">cars</option>
              <option value="human">human</option>
              <option value="households">households</option>
              <option value="food">food</option>
              <option value="objects">objects</option>
              <option value="other">other</option>
          </select>
         </div>
         <a class="ui-btn ui-btn-b"><i class="fa fa-eye"></i> Show </a>
      </form>
  </div>







// home first sroties list 

<!-- ===========================
       Pages 
  ================================ -->

  <section data-role="page" data-title="Tkatof" class="home" id="exist">

    <div role="main" class="ui-content"> 

        <!-- sponser ads space -->
        <div class="sponser hidden">
            <a href="#">
                <h4 class="text">sponser name</h4>
                <div class="bg-cover img" style="background-image:url(assets/img/sponser11.jpg);"></div>
            </a>
        </div>
        
        <!-- Succeeded Stries Counter -->
        <a class="ui-btn hidden">
          <i class="fa fa-check"></i>
          <span id="counter">154</span>Succeeded Stroy
        </a>

        <!-- founded 
          // afm * i'd Removed next props temprarly *  
          data-filter="true" data-input="#filter-content"
        -->
        <ul id="home-stories" class="home-list founded" >

            <!-- [type, BG-image, icon-name, city, date, deatils,  ]-->

            <li class="type1">
                <a href="prefitch.html#showcase" data-ajax="false" class="case-link">
                    <div class="case-thumb" style="background-image:url(assets/img/bmw.jpg);">
                        <span class="case-icon"><i class="fa fa-car"></i></span> 
                    </div>
                    <div class="case-info">
                        <p class="details">
                            car 
                        </p>
                        <i class="case-date"> 6:24 PM </i>
                        <button class="share-btn ui-btn"><i class="fa fa-share-alt"></i> Share </button>
                    </div>
                </a>
            </li>

            <li class="type2">
                <a href="prefitch.html#showcase" data-ajax="false" class="case-link">
                    <div class="case-thumb" style="background-image:url(assets/img/iqama.jpg);">
                        <span class="case-icon"><i class="fa fa-car"></i></span> 
                    </div>
                    <div class="case-info">
                        <p class="details">
                            other
                        </p>
                        <i class="case-date"> 6:24 PM </i>
                        <button class="share-btn ui-btn"><i class="fa fa-share-alt"></i> Share </button>
                    </div>
                </a>
            </li>

            <li class="type3">
                <a href="prefitch.html#showcase" data-ajax="false" class="case-link">
                    <div class="case-thumb" style="background-image:url(assets/img/boy.jpg);">
                        <span class="case-icon"><i class="fa fa-car"></i></span> 
                    </div>
                    <div class="case-info">
                        <p class="details">
                            human
                        </p>
                        <i class="case-date"> 6:24 PM </i>
                        <button class="share-btn ui-btn"><i class="fa fa-share-alt"></i> Share </button>
                    </div>
                </a>
            </li>

           
        </ul>

    </div>

  </section>





