<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<script>

  var url="http://www.takatuf.tk/api/public/accounts/";
  var api_parameters="login.json?password=demopass4&email=demo4@takatuf.tk";

  // calling my method
  SendToApiDtat(url,api_parameters);

  function SendToApiDtat (url,api_parameters){

    $.ajax({
      "async": true,
      "crossDomain": true,
      "url": url+api_parameters,
      "method": "POST",
      "headers": {},
      "processData": false,
      "contentType": false,
      "mimeType": "multipart/form-data"
    })

    .complete(function (response) {
      response=JSON.parse(response.responseText);

      if (response.code ==302){
        // store the user ID
        localStorage.setItem("userID",response.data.userID);
        // store the user name
        localStorage.setItem("userName",response.data.userName);
        // redirect to home
        document.location.href = 'Tkatof-v1/home.html';
      }else{
        // define the notification message
        var alertMessage=response.data.message;
      }

      // just for test
      console.log(response.code);
      console.log(localStorage.getItem("userID"));
      console.log(localStorage.getItem("userName"));
    });

  };

</script>